<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% include "partials/meta-og.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    {% block styles %}{% endblock %}
</head>
<body class="bg-slate-200 dark:bg-[#282e37] p-0 m-0">
    <div class="bg-slate-200 dark:bg-[#282e37] py-3.5 px-0 md:px-3.5 min-h-screen">
        <div class="flex justify-center m-0 px-2">
            <div class="flex justify-between w-full max-w-lg">
                <span class="flex align-center justify-center">
                    {% include "partials/gitlab-icon.svg" %}
                    <a
                        href="https://gitlab.com/hwdegroot/secret-sharing"
                        class="
                            inline-block
                            text-blue-600 hover:text-blue-700
                            dark:text-[#67eba2] dark:hover:text-[#128847]
                            transition duration-300 ease-in-out
                        ">
                        Fork me on gitlab
                    </a>
                </span>
                {% include "partials/darkmode.html" %}
            </div>
        </div>
        <div class="flex justify-center my-4 mx-0 md:my-4">
            <div class="
                bg-white dark:bg-[#3d434c]
                block
                py-6 px-2 md:px-6
                md:rounded-lg
                dark:shadow-[#282e37]
                shadow max-w-lg
            ">
            {% include "partials/toast.html" %}
            {% block toast %}{% endblock %}
            {% block content %}{% endblock %}
            </div>
        </div>
        <div class="flex justify-center m-0 px-2">
            <div class="flex justify-between w-full max-w-lg">
                <a
                    href="/"
                    class="
                        inline-block
                        text-blue-600 hover:text-blue-700
                        dark:text-[#67eba2] dark:hover:text-[#128847]
                        transition duration-300 ease-in-out
                    ">Store another secret</a>
                <a
                    href="{{ url_for('api_docs') }}"
                    class="
                        inline-block
                        text-blue-600 hover:text-blue-700
                        dark:text-[#67eba2] dark:hover:text-[#128847]
                        transition duration-300 ease-in-out
                ">
                    api docs
                </a>
            </div>
        </div>
    </div>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    <script language="javascript" src="{{ url_for('static', filename='dist/js/utility.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
